<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager - Login</title>
    <link rel="stylesheet" href="style.css" src="validation.js">
</head>
<body>
    <div class="wrapper">
        <h1>Login</h1>
        <form novalidate method="post">
            <div>
                <label for="email">
                    <img src="assets/icons/user.svg" alt="email" class="email" height="24px">
                </label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <br>
            <div>
                <label for="password">
                    <img src="assets/icons/password.svg" alt="password" class="password" height="24px">
                </label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="forgot-password">
                <p><a href="reset_password.html" class="forgot-password">Reset Password</a></p>
            </div>
            <div>
                <button type="submit" class="login-btn">Login</button>
            </div>
            <div>
                <p>Don't have an account? <a href="register.html">Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>